name: Build headlock and run unittests
on: [push]

jobs:

  ###################################################
  unittests:

    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", 3.11, 3.12, 3.13, 3.14]
        os: [windows-2025, ubuntu-24.04]
        arch: [x64]

    runs-on: ${{matrix.os}}

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v1.2.0
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python}}
          architecture: ${{matrix.arch}}

      - name: Install tox
        shell: bash
        run: pip install setuptools tox==3.28

      - name: Run Unittests
        shell: bash
        run: |
          if [ ${{matrix.os}} = "windows-2025" ]
          then export MINGW_X86_64_DIR=C:/mingw64
          fi
          tox -e py${{matrix.python}}-${{matrix.arch}}
